nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li:hover > a {
    background-color: #555;
}

nav .dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    z-index: 1;
}

nav ul li:hover .dropdown {
    display: block;
}

nav .dropdown li {
    margin: 0;
}
